
<header class="header">
        <div class="site-logo">
            <h1 style="margin: 0px;"><a aria-current="page" class="" href="{% url 'c19:index' %}">The Covid Center</a></h1>
        </div>
        <span class="menu-toggle">
        <svg aria-hidden="true" class="svg-inline--fa fa-bars fa-w-14 " color="#fff" data-icon="bars"
             data-prefix="fas" focusable="false" role="img"
             viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path
                d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                fill="currentColor"></path></svg></span>
        <nav class="site-navigation ">
            <ul>
                <li><a aria-current="page" class="" href="{% url 'c19:index' %}">Home</a></li>
                <li><a href="{% url 'c19:united_states' %}">United States</a></li>
                <li><a href="{% url 'c19:world' %}">World</a></li>
                <li><a href="{% url 'c19:news' %}">News</a></li>
                <li><a href="{% url 'c19:blogs' %}">Blogs</a></li>
            </ul>
        </nav>

    </header>