<!DOCTYPE html>
<html lang="en">

{% load static %}
{% include 'head.html'%}
<body>
<div class="site-wrapper">

{% include 'header.html'%}
    <main>
        <div class="full-container">
            <div class="news-row-header">
                <button class="news-chngview-btn active-btn">
                    <svg aria-hidden="true" class="svg-inline--fa fa-th-large fa-w-16 " data-icon="th-large" data-prefix="fas"
                         focusable="false" role="img" viewBox="0 0 512 512"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M296 32h192c13.255 0 24 10.745 24 24v160c0 13.255-10.745 24-24 24H296c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24zm-80 0H24C10.745 32 0 42.745 0 56v160c0 13.255 10.745 24 24 24h192c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24zM0 296v160c0 13.255 10.745 24 24 24h192c13.255 0 24-10.745 24-24V296c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm296 184h192c13.255 0 24-10.745 24-24V296c0-13.255-10.745-24-24-24H296c-13.255 0-24 10.745-24 24v160c0 13.255 10.745 24 24 24z"
                              fill="currentColor"></path>
                    </svg>
                </button>
                <button class="news-chngview-btn ">
                    <svg aria-hidden="true" class="svg-inline--fa fa-list fa-w-16 " data-icon="list" data-prefix="fas"
                         focusable="false" role="img" viewBox="0 0 512 512"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M80 368H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm0-320H16A16 16 0 0 0 0 64v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16V64a16 16 0 0 0-16-16zm0 160H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm416 176H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"
                              fill="currentColor"></path>
                    </svg>
                </button>
            </div>
            <div class="news-row">
                <div class="news-card column odd"><a class="news-card-wrapper"
                                                     href="/singlenews/https://economictimes.indiatimes.com/industry/healthcare/biotech/healthcare/hospital-cost-capped-but-covid-can-cripple-80-of-families/articleshow/78613921.cms">
                    <div class="news-card-img-wrapper"><img
                            alt="Not Found Image" src="https://www.freeiconspng.com/uploads/no-image-icon-4.png"
                            width="350"></div>
                    <div class="news-card-body"><h3 class="news-card-title">Hospital cost capped, but Covid can cripple
                        80% of families</h3>
                        <p class="news-card-paragraph">Responding to growing anger over the high cost of ...</p>
                        <div class="post-meta"><span class="post-date">Mon Oct 12 2020</span></div>
                    </div>
                </a></div>
                <div class="news-card column even"><a class="news-card-wrapper"
                                                      href="/singlenews/https://medicalxpress.com/news/2020-10-clinical-aims-covid-immunity.html">
                    <div class="news-card-img-wrapper"><img alt="Clinical study aims to better understand COVID-19 immunity"
                                                            src="https://scx2.b-cdn.net/gfx/news/2020/clinicalstud.jpg">
                    </div>
                    <div class="news-card-body"><h3 class="news-card-title">Clinical study aims to better understand
                        COVID-19 immunity</h3>
                        <p class="news-card-paragraph">The COVID PROFILE study will use blood samples fro...</p>
                        <div class="post-meta"><span class="post-date">Mon Oct 12 2020</span></div>
                    </div>
                </a></div>
                <div class="news-card column even"><a class="news-card-wrapper"
                                                      href="/singlenews/https://www.mdpi.com/2077-0383/9/10/3259">
                    <div class="news-card-img-wrapper"><img
                            alt="Not Found Image" src="https://www.freeiconspng.com/uploads/no-image-icon-4.png"
                            width="350"></div>
                    <div class="news-card-body"><h3 class="news-card-title">JCM, Vol. 9, Pages 3259: Characteristics and
                        Prognosis of COVID-19 in Patients with COPD</h3>
                        <p class="news-card-paragraph">Patients with Chronic Obstructive Pulmonary Diseas...</p>
                        <div class="post-meta"><span class="post-date">Mon Oct 12 2020</span></div>
                    </div>
                </a></div>
                <div class="news-card column odd"><a class="news-card-wrapper"
                                                     href="/singlenews/http://www.xinhuanet.com/english/2020-10/12/c_139433985.htm">
                    <div class="news-card-img-wrapper"><img
                            alt="Not Found Image" src="https://www.freeiconspng.com/uploads/no-image-icon-4.png"
                            width="350"></div>
                    <div class="news-card-body"><h3 class="news-card-title">New Zealand reports no new cases of COVID-19
                        | English.news.cn</h3>
                        <p class="news-card-paragraph">Source: Xinhua| 2020-10-12 11:11:29|Editor: huaxia...</p>
                        <div class="post-meta"><span class="post-date">Mon Oct 12 2020</span></div>
                    </div>
                </a></div>
                <div class="news-card column odd"><a class="news-card-wrapper"
                                                     href="/singlenews/http://www.xinhuanet.com/english/2020-10/12/c_139434139.htm">
                    <div class="news-card-img-wrapper"><img
                            alt="Not Found Image" src="https://www.freeiconspng.com/uploads/no-image-icon-4.png"
                            width="350"></div>
                    <div class="news-card-body"><h3 class="news-card-title">India's COVID-19 tally rises to 7,120,538,
                        death toll 109,150 | English.news.cn</h3>
                        <p class="news-card-paragraph">Source: Xinhua| 2020-10-12 12:47:47|Editor: huaxia...</p>
                        <div class="post-meta"><span class="post-date">Mon Oct 12 2020</span></div>
                    </div>
                </a></div>
                <div class="news-card column even"><a class="news-card-wrapper"
                                                      href="/singlenews/https://reliefweb.int/report/yemen/islamic-development-bank-isdb-and-who-join-forces-government-yemen-respond-covid-19">
                    <div class="news-card-img-wrapper"><img
                            alt="Islamic Development Bank (IsDB) and WHO join forces with the Government of Yemen to respond to the COVID-19 pandemic in the country"
                            src="https://reliefweb.int/profiles/reliefweb/themes/kobe/images/metatag/disaster-type/epidemic.png">
                    </div>
                    <div class="news-card-body"><h3 class="news-card-title">Islamic Development Bank (IsDB) and WHO join
                        forces with the Government of Yemen to respond to the COVID-19 pandemic in the country</h3>
                        <p class="news-card-paragraph">The Islamic Development Bank (IsDB) and the World ...</p>
                        <div class="post-meta"><span class="post-date">Mon Oct 12 2020</span></div>
                    </div>
                </a></div>
                <div class="news-card column even"><a class="news-card-wrapper"
                                                      href="/singlenews/https://www.businessinsider.com/new-moms-covid-very-low-risk-transmission-to-babies-study-2020-10">
                    <div class="news-card-img-wrapper"><img
                            alt="A study says new moms with COVID-19 do not need to be separated from their babies after birth — wearing a mask may be enough protection"
                            src="https://i.insider.com/5e98ac6bb3b0920a03407875?width=1200&amp;format=jpeg">
                    </div>
                    <div class="news-card-body"><h3 class="news-card-title">A study says new moms with COVID-19 do not
                        need to be separated from their babies after birth — wearing a mask may be enough
                        protection</h3>
                        <p class="news-card-paragraph">Separating a new mom with the coronavirus from her...</p>
                        <div class="post-meta"><span class="post-date">Mon Oct 12 2020</span></div>
                    </div>
                </a></div>
                <div class="news-card column odd"><a class="news-card-wrapper"
                                                     href="/singlenews/https://www.businessinsider.com/new-moms-covid-very-low-risk-transmission-to-babies-study-2020-10">
                    <div class="news-card-img-wrapper"><img
                            alt="Moms with COVID may not need to be separated from babies after birth"
                            src="https://i.insider.com/5e98ac6bb3b0920a03407875?width=1200&amp;format=jpeg"></div>
                    <div class="news-card-body"><h3 class="news-card-title">Moms with COVID may not need to be separated
                        from babies after birth</h3>
                        <p class="news-card-paragraph">Separating a new mom with the coronavirus from her...</p>
                        <div class="post-meta"><span class="post-date">Mon Oct 12 2020</span></div>
                    </div>
                </a></div>
            </div>
            <div class="news-row-footer">
                <nav aria-label="Countries Pagination">
                    <ul class="pagination">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item next"><a aria-label="Next" class="page-link" href="#"><span>Next</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</div>
</body>
</html>