admin==0.0.1
alabaster==0.7.12
APScheduler==3.6.1
Babel==2.3.4
coverage==4.5.4
covid==2.4.0
covid-daily==1.1
COVID19Py==0.3.0
cryptography==2.8
cycler==0.10.0
dbus-python==1.2.16
dj-stripe==2.3.0
Django==2.2.5
django-admin==2.0.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-six==1.0.4
django-trace==1.15
djangorestframework==3.12.1
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.6.0
Unipath==1.0
python-decouple==3
Pillow==3.3.0
Markdown==2.6.6
bleach==1.4.3
psycopg2==2.6.1
whitenoise==3.2
setuptools
